.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
input {
	height: 50px;
	width: 250px;
	text-align: center;

	background-color: none;
	border: none;
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.5em;


}
input::-webkit-input-placeholder {
	color: rgba(0,0,0, 0.3);
}
input:-moz-placeholder {
	color: rgba(0,0,0, 0.3);
}
input::-moz-placeholder {
	color: rgba(0,0,0, 0.3);
}
input:-ms-input-placeholder {
	color: rgba(0,0,0, 0.3);
}
.rgb__form {
	height: 50px;
	width: 250px;
	margin: 10px 0;
	text-align: center;
	
	background-color: rgba(0,0,0, 0.2);
	border: none;
	
	
	font-size: 18px;
	font-weight: normal;
	line-height: 50px;
	letter-spacing: 0.15em;
	color: white;
}
